<%= stylesheet_link_tag '../../assets/stylesheets/posts.stylesheets.css' %>

<div class='posts-container'>

  <div class='new-post-link'>
    <%= link_to new_post_path do %>
      New Post
    <% end %>
  </div>

  </div class='show-posts'>
    <% @posts.each do |post| %>
      <p><%= post.message %></p>
    <% end %>
  </div>

</div>

