<%= stylesheet_link_tag '../../assets/stylesheets/new_post.stylesheets.css' %>

<div class='new-post-container'>
<h1>New Post</h1>
  <%= form_for @post do |form| %>
    <%= form.text_area :message %>
    <p></p>
    <%= form.submit "Submit" %>
  <% end %>
</div>
