body {
  align-content: center;
}

.log-in-container { 
  width: 25vw;
  margin: auto;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  background-color:#008891;
  color:#e7e7de;
  font-size: 1.6em;
  border: 1px solid #e7e7de;
}

h1 {
  font-size:2.3em;
}

input[type='submit'] {
  border-radius: 15px;
  background-color: #0f3057;
  color: #e7e7de;
}
