body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  min-height: 100vh;
  padding-bottom: 20px;
 }

.navbar {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  margin-bottom: 50px;

  li .nav-link {
    font-size: 1.2em;
    text-decoration: none;
    color: #e7e7de;

    &:hover {
    text-decoration: underline;
    }
  }
}

.navbar-brand {
  font-size: 2.1em;
  color: #21d190;
  color: linear-gradient(315deg, #21d190 0%, #d65bca 74%);
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;

  &:hover {
    color: #00587a;
  }
}

.log-in-container { 
  width: 25vw;
  margin: auto;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  background-color:#008891;
  color:#e7e7de;
  font-size: 1.2em;
  border: 1px solid #e7e7de;

  h1 {
    font-size: 1.6em;
  }

  input[type='submit'] {
    border-radius: 15px;
    background-color: #0f3057;
    color: #e7e7de;
  }
}

/* Sign up styling */

.sign-up { 
  width: 25vw;
  margin: auto;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  background-color:#008891;
  color:#e7e7de;
  font-size: 1.2em;
  border: 1px solid #e7e7de;
}

.new-post {
  width: 60%;
  text-align: center;
  border: 3px solid #00587a;
  margin: auto;
  font-size: 1.2em;
  background-color: #00587a;
  color: #e7e7de;
  padding: 10px;

  textarea {
    width: 70%;
    height: 80%;
  }
}


.post-container {
  background-color: #e7e7de;
  margin: auto;
  border: 3px solid #00587a;
  width: 60%;
}

.indiv-post {
  width: 92%;
  border: 3px solid #008891;
  margin: 15px;
  font-size: 1.2em;
}

.indiv-post-head {
  background-color: #008891;
  font-size: 1.2em;
  font-weight: 600;
  padding-left: 10px;
}

.indiv-post-body {
  background-color: #e7e7de;
  padding-left: 10px;
}

.indiv-post-footer {
  padding-left: 10px;
  font-size: 16px;

  button {
    border-radius: 5px;
    background-color: #e7e7de;
    font-size: 15px;
    margin: 3px;
    padding: 5px;
    margin-left: 0;
  }
}

.all-posts-head {
  background-color: #00587a;
  border-bottom: 3px solid #00587a;
  color: #e7e7de;
  text-align: center;
  font-size: 1.6em;
}

.alert {
  position: absolute;
  bottom: 0px; // Should be same as the height of the header
  width: 105%;
  margin: 0;
  background-color: #21d190;
  background-image: linear-gradient(315deg, #21d190 0%, #d65bca 74%);
}
