.new-post-link {
  width: 20%;
  text-align: center;
  border: 1px solid #e7e7de;
  border-radius: 15px;
  margin: 20px;
  font-size: 1.6em;
  background-color: #0f3057
}

.new-post-link a {
  text-decoration: none;
  color: #e7e7de;
}

.new-post-link:hover {
  text-decoration: none;
  background-color: #00587a;
  color: #e7e7de;
}

.new-post-link a:hover {
  text-decoration: none;
  color: #e7e7de;
}

.show-posts {
  background-color: #e7e7de;
  border-radius: 10px;
  border: 1px solid #00587a;
  width: 80%;

}